

<div class="constrainer">

  <div class = "stream" >
    <% newsarticles = Array.new %>

    <div id="grid" data-columns>
      <div class="column size-1of2">

      </div>
      <div class="column size-1of2">

      <div>

        <% unless @streams == nil %>
          <% @streams.each do |stream| %>
            <div class="feed-item">
              <% if stream.streamable.class.name == "Comment" %>
                <%= render partial: "streams/stream_comment", locals: {stream: stream} %>
            </div>
            <div class="feed-item">
              <% elsif stream.streamable.class.name == "Prediction" %>
              <%= render partial: "streams/stream_prediction", locals: {stream: stream} %>
            </div>
            <div class="feed-item">
              <% elsif stream.streamable.class.name == "Predictionend" %>
                <%= render partial: "streams/stream_predictionend", locals: {stream: stream} %>
              <% end %>
            </div>
          <%end%>
        <%end%>

      </div>
    </div>
  </div>

  <div id = "infinite-scrolling" >
    <%= will_paginate @streams %>
  </div>

</div>


