<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi there!</h3>
    <div><p>We are Stock IQ, an online community of stock traders.</p></div>

    <div><p>Click the link below to sign up now!</p></div>
    <div><p> <%= "www.mystockiq.com/?ref=#{@referral.referral_code}"%></p></div>
  </body>
</html>