$('#comment-5').before("<div class = \"prediction-post-comment\"><div class = \"row\" style=\"margin-left: 0px;\"><%= j render partial: 'streams/stream_comment', locals:{comment: @comment} %></div></div>").fadeIn("slow");
