$('#first_one').before("<div class = \"prediction-post-comment\" id =\"first_one\"><div class = \"row\" style=\"margin-left: 0px;\"><%= j render partial: 'streams/stream_comment', locals:{comment: @comment} %></div></div>").fadeIn("slow");
