  <!-- TOOLBAR DESKTOP NOT MINE -->

    <div class="detail-toolbar-not-mine">
      <div class="col-xs-4 detail-toolbar-col">
        <a class="detail-toolbar-buttons detail-toolbar-hover">
          <i class="fa fa-heart"><span class="detail-btn-label">Like</span></i>
        </a>
      </div>
      <div class="col-xs-4 detail-toolbar-divide">
        <a href="#" class="detail-toolbar-buttons detail-toolbar-hover" data-toggle="modal" data-target="#detail-comment-modal">
          <i class="fa fa-comment"><span class="detail-btn-label">Comment</span></i>
        <a>
      </div>
      <div class="col-xs-4 detail-toolbar-divide">
          <%= render partial: 'shared/tweet', locals: {prediction: @prediction} %>
      </div>
    </div>