

<!-- TOOLBAR MOBILE NOT MINE -->

  <div class="detail-mobile-toolbar-not-mine">
    <div class="col-xs-4">
      <a class="detail-mobile-toolbar-buttons">
        <i class="fa fa-heart"></i>
      </a>
    </div>
    <div class="col-xs-4 detail-toolbar-divide">
      <a href="#" class="detail-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-comment-modal">
        <i class="fa fa-comment"></i>
      <a>
    </div>
    <div class="col-xs-4 detail-toolbar-divide">
      <a href="#" class="detail-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-tweet-modal">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>



<!-- MODAL PARTIALS -->

<%= render partial: "predictions/modal_comment", locals: {prediction: @prediction} %>

<%= render partial: "predictions/modal_tweet", locals: {prediction: @prediction} %>

<%= render partial: "predictions/modal_close_prediction", locals: {prediction: @prediction} %>





