<div class="stockpage-sidebar-open">
  <div class="stockpage-sidebar-open-header black-gradient">
    <div class="stockpage-sidebar-open-header-txt pull-left">
      Open Prediction
    </div>
    <div class="stockpage-sidebar-open-points pull-right">
      <i class="fa fa-line-chart"></i>
    </div>
  </div>
  <div class="stockpage-sidebar-open-box">
    <div class="sidebar-open-item col-md-4">
      <p class="sidebar-open-figure">50 days</p>
      <p class="sidebar-open-title">REMAINING</p>
    </div>
    <div class="sidebar-open-item col-md-4">
      <p class="sidebar-open-figure">$<%= prediction.prediction_end_price %></p>
      <p class="sidebar-open-title">TARGET</p>
    </div>
    <div class="sidebar-open-item col-md-4">
      <p class="sidebar-open-figure"><%= prediction.score %></p>
      <p class="sidebar-open-title">POINTS</p>
    </div>

    <% if prediction.user.id == current_user.id %>
          <%= render partial: "predictionends/predictionend_form", locals: {prediction:prediction} %>
    <% end %>

  </div>
</div>


