
  <div class = "prediction-post-comment">
    <div class = "row" style = "margin-left: 20px;">

      <h2><%= prediction.score %> points</h2>
      <h4><%= prediction.days_remaining.round %> days remaining</h4>
    </div>
  </div>

