//window.updatePredictions(1422460800000, 200);

window.updatePredictions(<%= j @graph_time.to_s %>, <%= j @prediction.prediction_end_price.to_s %>)

$('.stock-page-prediction-box').html("<%= j render @prediction %>").fadeIn("slow");

// 
//window.updatePredictions;
 

//end_time, end_price
//<% @response_msg.each do |msg| %>
//  $('#response-box').append("<li><%= j msg %></li>")
//<% end %>

  /*$('#stock-div').stockcharts(options).chart1.series[3].setData(
    [
      [1422460800000, 90]
    ]
  )
*/


//needs to add item to stream via ajax...
//still need to make the prediction box dissappear upon submission
//need to make the number of predictions increase by 1.
//still need to make the prediction appear on the graph.... Crap! The hardest part. Including the user's own prediction the graph...
//Does the whole graph need to reload... or can just new adata points be added....
// I think the whole graph needs to be reloaded... Or maybe just add as a new data series?


