
    <div class="stockpage-side-analysts-box">

      <a class="stockpage-side-analysts-anchor clearfix" href="#">
        <div class="stockpage-side-analysts-img pull-left">
          <%= image_tag "del.jpg" %>
        </div>
        <div class="stockpage-side-analysts-label pull-left">
          <%= analyst.username %>
        </div>
        <div class="stockpage-side-analysts-number pull-right">
          <%= analyst.total_score(stock) %>
        </div>
      </a>

    </div>