
<!-- STOCKPAGE TOOLBAR MOBILE -->

  <div class="stockpage-mobile-toolbar">
    <div class="col-xs-4">
      <a href="#" class="stockpage-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-close-prediction-modal">
      <i class="fa fa-line-chart"></i>
      </a>
    </div>
    <div class="col-xs-4 stockpage-toolbar-divide">
      <a href="#" class="stockpage-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-comment-modal">
        <i class="fa fa-comment"></i>
      <a>
    </div>
    <div class="col-xs-4 stockpage-toolbar-divide">
      <a href="#" class="stockpage-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-tweet-modal">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>