<!-- STOCKPAGE MOBILE TOOLBAR CLOSE -->

  <div class="stockpage-mobile-toolbar-close">
    <div class="col-xs-3 stockpage-toolbar-col-close">
      <a href="#" class="stockpage-mobile-toolbar-buttons-close stockpage-toolbar-hover-close">
        <i class="fa fa-plus-square"><span class="stockpage-mobile-btn-label-close">Fav</span></i>
      <a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-mobile-toolbar-buttons-close stockpage-mobile-toolbar-hover-close" data-toggle="modal" data-target="#stockpage-comment-modal">
        <i class="fa fa-comment"><span class="stockpage-mobile-btn-label-close">Comment</span></i>
      <a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-mobile-toolbar-buttons-points detail-toolbar-hover" data-toggle="modal" data-target="#stockpage-mobile-close-prediction-modal">
        <span class="stockpage-mobile-btn-label-points">Close at</span> <span class="point">-10</span>
      </a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-tweet-modal">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>