  <div class="stockpage-desktop-toolbar">
    <div class="col-xs-4 stockpage-toolbar-col">
      <a class="stockpage-desktop-toolbar-buttons">
        <i class="fa fa-heart"><span class="stockpage-desktop-btn-label">Like</span></i>
      </a>
    </div>
    <div class="col-xs-4 stockpage-toolbar-divide">
      <a href="#" class="stockpage-desktop-toolbar-buttons" data-toggle="modal" data-target=".stockpage-comment-modal">
        <i class="fa fa-comment"><span class="stockpage-desktop-btn-label">Comment</span></i>
      </a>
    </div>
    <div class="col-xs-4 stockpage-toolbar-divide">
      <a href="#" class="stockpage-desktop-toolbar-buttons" data-toggle="modal" data-target="#stockpage-desktop-tweet-modal">
        <i class="fa fa-twitter"></i>
        <span class="stockpage-desktop-tweet-label">Share</span>
      </a>
    </div>
  </div>
