
<!-- STOCKPAGE TOOLBAR MOBILE -->

  <div class="stockpage-mobile-toolbar">
    <div class="col-xs-3 stockpage-toolbar-col-close">
      <a href="#" class="stockpage-mobile-toolbar-buttons-close stockpage-toolbar-hover-close">
        <i class="fa fa-plus-square"><span class="stockpage-mobile-btn-label-close">Fav</span></i>
      <a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-close-prediction-modal">
      <i class="fa fa-line-chart"></i>
      </a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-comment-modal">
        <i class="fa fa-comment"></i>
      <a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-mobile-toolbar-buttons" data-toggle="modal" data-target="#detail-tweet-modal">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>

  <%= render partial: "predictions/modal_comment", locals: {prediction: @prediction} %>

<%= render partial: "predictions/modal_tweet", locals: {prediction: @prediction} %>

<%= render partial: "predictions/modal_close_prediction", locals: {prediction: @prediction} %>

