  <div class="stockpage-desktop-toolbar-close">

    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-desktop-toolbar-buttons-points" data-toggle="modal" data-target="#desktop-close-prediction-modal">
        <span class="stockpage-desktop-btn-label-points">Close at</span> <span class="point">-10</span>
      </a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-desktop-toolbar-buttons-close" data-toggle="modal" data-target="#desktop-comment-modal-close">
        <i class="fa fa-comment"><span class="stockpage-desktop-btn-label-close">Comment</span></i>
      <a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-col">
      <a href="#" class="stockpage-desktop-toolbar-buttons-close">
        <i class="fa fa-plus-square"><span class="stockpage-desktop-btn-label-close">Follow</span></i>
      <a>
    </div>
    <div class="col-xs-3 stockpage-toolbar-divide">
      <a href="#" class="stockpage-desktop-toolbar-buttons-close" data-toggle="modal" data-target="#desktop-tweet-modal">
        <i class="fa fa-twitter"></i>
        <span class="stockpage-desktop-tweet-label-close">Share</span>
      </a>
    </div>
  </div>