<div class="stockpage-sidebar-stocks">
  <div class="stockpage-sidebar-stocks-box">
    
    <div class="stockpage-sidebar-stocks-header">
      <div class="stockpage-sidebar-stocks-header-txt pull-left">
        Your current predictions
      </div>
    </div>
    <% unless predictions.empty? %>
      <% predictions.each do |prediction| %>
        <a class="stockpage-sidebar-stocks-item clearfix" href="/stocks/<%= prediction.stock.ticker_symbol %>/">
          <div class="stockpage-sidebar-stocks-label pull-left">
            <%= prediction.stock.ticker_symbol %><span>&nbsp;&nbsp;&nbsp;</span>
          </div>
          <div class="stockpage-sidebar-stocks-number pull-right">
            <%= prediction.score %> pts
          </div>
        </a>
      <% end %>
    <% else %> 
        <p>You do not have any open predictions</p>
    <% end %>
  </div>
</div>