

<section class="user-page-banner red-gradient">
</section>
<section class="user-page-banner-overlay red-gradient">
  <div class="constrainer">
    <div class="col-sm-9">
      <ul class="pull-right">
        <li>delmnstr12's top stocks:</li>
        <li><a href="#">TWTR</a></li>
        <li><a href="#">AMZN</a></li>
        <li><a href="#">FB</a></li>
        <li><a href="#">GOOG</a></li>
        <li><a href="#">APPL</a></li>
      </ul>
    </div>
  </div>
</section>

<div class="constrainer">
  <div class="col-xs-12 user-top-box">
    <div class="col-xs-4 user-top-box-img">
      <img src="img/del.jpg">
    </div>
    <div class="col-xs-8 user-top-box-data">
      <div class="user-top-box-bio">
        <p>
          Vero tempor PBR excepteur proident. Literally street art Banksy wolf, aute cronut mollit twee typewriter. Tofu nulla listicle, viral Austin.
        </p>
      </div>
    </div>
    <div class="col-xs-12 user-top-box-data">
      <div class="user-top-stats-header red-gradient">
        <div class="user-top-stats-header-txt pull-left">
          Stats
        </div>
        <div class="user-top-image-points pull-right">
          <i class="fa fa-trophy"></i>
        </div>
      </div>
      <div class="user-top-box-stats-box clearfix">
        <div class="user-top-stats-item clearfix" href="#">
          <div class="user-top-stats-label pull-left">
            Following
          </div>
          <div class="user-top-stats-number pull-right">
            163
          </div>
        </div>
        <div class="user-top-stats-item clearfix" href="#">
          <div class="user-top-stats-label pull-left">
            Followers
          </div>
          <div class="user-top-stats-number pull-right">
            63
          </div>
        </div>
        <div class="user-top-stats-item clearfix" href="#">
          <div class="user-sidebar-stats-label pull-left">
            Predictions
          </div>
          <div class="user-top-stats-number pull-right">
            390
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-9 user-page-body">

    <div class="prediction-item">
      <a class="prediction-item-anchor red-gradient expand">
        <div class="col-xs-2 prediction-item-img">
          <img src="img/del.jpg">
        </div>
        <div class="pull-left prediction-item-txt">
          <p class="prediction-item-username">delmnstr12&nbsp;&middot;&nbsp;2hr</p> 
          <p class="prediction-item-main-txt"><span class="filler">Predicts</span> APPL will be +30 <span class="filler">points</span> in 2 weeks</p> 
        </div>
        <div class="prediction-item-points pull-right">
          <p>+20</p>
        </div>
      </a>
    </div>

    <div class = "stream" >
      <%= render partial: "streams/stream_main", locals: {streams: @streams, nest_count: 0} %>
    </div>
    <div id = "infinite-scrolling" >
      <%= will_paginate @streams %>
    </div>

  </div>

  <div class="col-sm-3 user-page-sidebar">
    <div class="user-page-sidebar-image">
      <%= image_tag "del.jpg" %>
    </div>
    <div class="user-page-sidebar-image-overlay">
      <div class="user-sidebar-image-username pull-left">
        <p>delmnstr12</p>
      </div>
      <div class="user-sidebar-follow pull-right">
        <a class="btn">Follow</a>
      </div>
    </div>
    <div class="user-sidebar-bio">
      <p class="text-on-white">Vero tempor PBR excepteur proident. Literally street art Banksy wolf, aute cronut mollit twee typewriter. Tofu nulla listicle, viral Austin.</p>
    </div>
  </div>


</div>


