<li id="post-<% stream.id %>">
	<span class="user"><%= link_to stream.user.username %></span>
	<span class="content"><%= stream.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(stream.created_at) %> ago.
		<% if current_user?(stream.user) %>
			<%= link_to "delete", "/streams/#{stream.id}/", method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>
	</span>
</li>