    <div class = "col-xs-3 col-sm-2 col-md-2">
      <div class = "prediction-post-mug-container">
        <img src= "http://stocktators.com/assets/images/user.png">
      </div>
    </div>
    <div class = "prediction-post-txt-container col-xs-9" style="width:400px;">

      <p class = "handle">
        <%= link_to newsarticle.title, newsarticle.url%>&nbsp;&bull;&nbsp;<%= time_ago_in_words(newsarticle.date) %> ago
      </p>

      <p class = "prediction-txt">
        <%= newsarticle.summary %>
      </p>
      <div class = "prediction-post-txt-icons">
        <i class="fa fa-reply fa-lg">&nbsp;&nbsp; 100 </i>
        <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp; 15</i>
        <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp; 90 </i>
      </div>
    </div>

