
<!-- NEW POST FORMAT PREDICTION -->

<div class="stream-prediction">
  <div class="prediction-header clearfix">
    <div class="prediction-user-img pull-left">
      <%= link_to image_tag(stream.streamable.user.image)%>
    </div>
    <div class="prediction-txt pull-left">
      <a href="#" class="prediction-username">dyl$hmil</a><br>
      <a href="#" class="prediction-link">AAPL PREDICTION&nbsp;&#8594;</a>
    </div>
    <div class="prediction-time pull-right">
      <i class="fa fa-clock-o">&nbsp;2 hrs</i>
    </div>
  </div>
  <div class="prediction-comment">
    <p>Do ennui meditation Truffaut cleanse <a href="#">$APPL</a> anim portland. <a href="#">@dillshmill</a> deep v anim id, fixie non PBR Brooklyn Thundercats <a href="#">#drake</a> <a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
  </div>
  <div class="prediction-stats clearfix">
    <div class="prediction-stats-col-top prediction-stats-col-side col-xs-6">
      <a href="#" class="prediction-stock-link">
        <span class="stat-top prediction-stock-link">APPL</span>
        <span class="stat-bottom">Apple Computers Inc.</span>
      </a>
    </div>
    <div class="prediction-stats-col-top col-xs-6">
        <span class="stat-top">$200</span>
        <span class="stat-bottom">Target Price</span>
    </div>
    <div class="prediction-stats-col-bottom prediction-stats-col-side col-xs-6">
        <span class="stat-top">7/30/15</span>
        <span class="stat-bottom">Target Date</span>
    </div>
    <div class="prediction-stats-col-bottom col-xs-6">
        <span class="stat-top"><span class="prediction-points">+20</span></span>
        <span class="stat-bottom">IQ Points</span>
    </div>
  </div>

  <div class="prediction-footer">

    <span class="prediction-like-button">
      <a href="#"><i class="fa fa-heart"><span class="prediction-footer-counter">&nbsp;6</span></i></a>
    </span>

    <span class="prediction-comment-button">
      <a href="#"><i class="fa fa-comment"><span class="prediction-footer-counter">&nbsp;4</span></i></a>
    </span>

    <span class="prediction-more-button pull-right">
      <a href="#"><i class="fa fa-chevron-down"></i></a>
    </span>
  </div>

  <div class="stream-replies">

    <div class="stream-reply">
      <div class="stream-reply-img pull-left">
        <%= link_to image_tag(stream.streamable.user.image)%>
      </div>
      <div class="stream-reply-txt pull-left">
        <span class="stream-reply-username">seanjuan&nbsp;</span>
        <span class="stream-reply-time">2 hrs
        <p class="stream-replies-reply clearfix">
          Kale chips cornhole ugh enim.
        </p>
      </div>
    </div>

    <div class="stream-reply">
      <div class="stream-reply-img pull-left">
        <%= link_to image_tag(stream.streamable.user.image)%>
      </div>
      <div class="stream-reply-txt pull-left">
        <span class="stream-reply-username">seanjuan&nbsp;</span>
        <span class="stream-reply-time">2 hrs
        <p class="stream-replies-reply clearfix">
          Kale chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim.
        </p>
      </div>
    </div>

    <div class="stream-reply" id="stream-reply-hide">
      <div class="stream-reply-img pull-left">
        <%= link_to image_tag(stream.streamable.user.image)%>
      </div>
      <div class="stream-reply-txt pull-left">
        <span class="stream-reply-username">seanjuan&nbsp;</span>
        <span class="stream-reply-time">2 hrs
        <p class="stream-replies-reply clearfix">
          Kale chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim.
        </p>
      </div>
    </div>

    <div class="stream-reply-more">
      <a href="#" class="see-more">SEE MORE</a>
    </div>

  </div>

</div>



