<li id="post-<% stream.id %>">
	<span class="user"><%= link_to stream.user.username %></span>
	<span class="timestamp">
	<span class="content">
		<% stream.comments.each do |comment| %>
			<%= comment.content %>
		<% end %>
	</span>
		Posted on <%= stream.created_at %>.
		<% if current_user?(stream.user) %>
			<%= link_to "delete", "/streams/#{stream.id}/", method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>
	</span>
</li>