

<div class="stream-news black-gradient clearfix">
  <a class="stream-news-anchor expand">
    <div class="col-xs-2 prediction-item-img">
      <i class="fa fa-newspaper-o fa-2x"></i>
    </div>

    <div class="pull-left prediction-item-txt">
      <p class="stream-news-source"><%= newsarticle.title %></p>
      <p class="stream-news-date"><%= time_ago_in_words(newsarticle.date) %> ago</p>
    </div>

  </a>
  <div class="stream-news-summary"><%= newsarticle.summary %></div>
  
  <div class="stream-response-box">
    <div class="stream-thumbs-box">
      <i class="stream-thumb-up fa fa-thumbs-o-up fa-lg" id="e">&nbsp;&nbsp;20</i>
      <i class="stream-thumb-down fa fa-thumbs-o-up fa-lg" id="e">&nbsp;&nbsp;19</i>
    </div>
  </div>
  <div class="stream-comment-line">11 Comments</div>

</div>


