    <div class = "col-xs-3 col-sm-2 col-md-2">
      <div class = "prediction-post-mug-container">
        <img src="http://stocktators.com/assets/images/user.png">
      </div>
    </div>
    <div class = "prediction-post-txt-container col-xs-9" style="width:400px;">
      <p class = "handle">
        <a href = "#"><%= comment.user.username %></a> &nbsp;&bull;&nbsp; <%= time_ago_in_words(comment.created_at) %>
      </p>
      <p class = "comment-txt"><%= comment.content %></p>
    </div>
  
