
<div class="close-prediction-item">
  <div class="close-prediction-vote-count-container clearfix">
    <div class="close-prediction-item-body col-xs-11 clearfix">
      <div class="col-xs-2 close-prediction-item-img">
        <%= image_tag ("del.jpg") %>
      </div>
      <div class="close-prediction-item-txt">
        <p class="close-prediction-item-username">delmnstr12</p>
        <p class="close-prediction-item-main-txt"><span class="filler">Predicts</span> APPL will be +30 <span class="filler">points</span> in 2 weeks</p> 
      </div>
      <div class="close-prediction-item-closing-tweet">
        <p><span class="closing-tweet">Closing Comment:</span> Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
      </div>
      <div class="close-prediction-footer">
        <i class="fa fa-clock-o">&nbsp;2 hrs</i><span>+20 points</span>
      </div>
      <div class="close-prediction-item-tweet">
        <p>Do ennui laboris, meditation dolor occaecat organic eu Truffaut master cleanse <a href="#">$APPL</a> anim pickled ad quis Portland. <a href="#">@dillshmill</a> deep v anim id, fixie adipisicing dolor eiusmod non PBR Brooklyn Portland esse Thundercats <a href="#">#drake</a><a href="#">#6god</a> <a href="#">#ohveeohhh</a></p>
      </div>
    </div>
    <div class="close-prediction-item-vote-count col-xs-1">
      <a class="close-prediction-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
      <p>10</p>
      <a class="close-prediction-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
    </div>
  </div>
  <div class="stream-item-comments">
    <div class="stream-comment-header">
      <p>2 Replies</p>
    </div>
    <div class="stream-comment-item">
      <div class="stream-comment-col col-xs-11">
        <div class="stream-comments-img pull-left">
          <%= image_tag ("sean.png") %>
        </div>
        <div class="stream-comments-txt pull-left">
          <p>
            <span class="stream-comments-txt-username">seanjuan:&nbsp;</span>Kale chips cornhole ugh enim.
          </p>
          <div class="stream-comments-txt-footer clearfix">
            <i class="fa fa-clock-o">&nbsp;2 hrs</i>
          </div>
        </div>
      </div>
      <div class="stream-comment-vote-col col-xs-1">
        <a class="stream-comment-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
        <p>10</p>
        <a class="stream-comment-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
    <div class="stream-comment-item">
      <div class="stream-comment-col col-xs-11">
        <div class="stream-comments-img pull-left">
          <%= image_tag ("sean.png") %>
        </div>
        <div class="stream-comments-txt pull-left">
          <p>
            <span class="stream-comments-txt-username">seanjuan:&nbsp;</span>Kale chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim chips cornhole ugh tattooed esse enim.
          </p>
          <div class="stream-comments-txt-footer clearfix">
            <i class="fa fa-clock-o">&nbsp;2 hrs</i>
          </div>
        </div>
      </div>
      <div class="stream-comment-vote-col col-xs-1">
        <a class="stream-comment-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
        <p>10</p>
        <a class="stream-comment-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
    <div class="stream-comment-input">
      <div class="stream-comments-img pull-left">
        <%= image_tag ("sean.png") %>
      </div>
      <div class="stream-comments-txt pull-left">
        <input placeholder="Leave a reply..">
      </div>
    </div>
  </div>
</div>