<div class = "prediction-post">
  <div class = "row">
    <div class = "col-xs-3 col-sm-2 col-md-2">
      <div class = "prediction-post-mug-container">
        <img src= "http://stocktators.com/assets/images/user.png">
      </div>
    </div>
    <div class = "prediction-post-txt-container col-xs-9">

      <p class = "handle"><a href="/user/blah/">Dw</a>&nbsp;&bull;&nbsp;50</p>
      <p class = "prediction-txt"><a href="#">&#36; AAPL &#58;&nbsp;
      $100 in 100 days</a>
        <span>&ndash; 100 </span></p>
      <p class = "comment-txt">the comment is herhererererere</p>

      <div class = "prediction-post-txt-icons">
        <i class="fa fa-reply fa-lg">&nbsp;&nbsp; 100 </i>
        <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp; 15</i>
        <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp; 90 </i>
      </div>
    </div>
  </div>
</div>