    <div class = "col-xs-3 col-sm-2 col-md-2">
      <div class = "prediction-post-mug-container">
        <img src= "http://stocktators.com/assets/images/user.png">
      </div>
    </div>
    <div class = "prediction-post-txt-container col-xs-9" style="width:400px;">

      <p class = "handle">
        <%= link_to prediction.user.username%>&nbsp;&bull;&nbsp;<%= time_ago_in_words(prediction.created_at) %> ago
      </p>

      <p class = "prediction-txt">
        <%= "$#{@stock.ticker_symbol} will #{increase_or_decrease?(prediction)} to #{prediction.prediction_price} points (#{percent_change(prediction)}%) in #{prediction_duration(prediction)}" %>
      </p>

      <p class = "comment-txt"><%= prediction.prediction_comment %></p>

      <div class = "prediction-post-txt-icons">
        <i class="fa fa-reply fa-lg">&nbsp;&nbsp; 100 </i>
        <i class="fa fa-thumbs-o-down fa-lg">&nbsp;&nbsp; 15</i>
        <i class="fa fa-thumbs-o-up fa-lg">&nbsp;&nbsp; 90 </i>
      </div>
    </div>

