<!-- Comment Form -->
<div class="stockpage-sidebar-open">
    
  <div class="stockpage-sidebar-comment-header red-gradient">
    <div class="stockpage-sidebar-comment-header-txt pull-left">
      Comment on APPL
    </div>
    <div class="stockpage-sidebar-comment-points pull-right">
      <i class="fa fa-comment"></i>
    </div>
  </div>
  <div class="stockpage-sidebar-comment-box">
    <%= form_for(Comment.new, remote:true) do |f| %>
      <div class="stockpage-sidebar-comment-div">
        <%= f.text_area :content, placeholder:"Comment on #{@stock.ticker_symbol}", class: "comment-form-textarea" %>
      </div>
      <%= hidden_field_tag :stream_string, @comment_stream_inputs %>
      <div class="comment-submit-button-div">
        <%= f.submit "SUBMIT", class: "btn" %>
      </div>
    <% end %>  
  </div>
</div>
