<!-- Comment Form -->
<div class="stockpage-sidebar-open">
    
  <div class="stockpage-sidebar-comment-header red-gradient">
    <div class="stockpage-sidebar-comment-header-txt pull-left">
      Comment on APPL
    </div>
    <div class="stockpage-sidebar-comment-points pull-right">
      <i class="fa fa-comment"></i>
    </div>
  </div>
  <div class="stockpage-sidebar-comment-box">
    <div class="stockpage-sidebar-comment-div">
      <textarea class="comment-form-textarea" placeholder="Comment on APPL"></textarea>
    </div>
    <div class="comment-submit-button-div">
      <a class="btn">SUBMIT</a>
    </div>
  </div>

</div>
