<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <span class="close" data-dismiss="alert alert-danger">×</span>
      <span>
        <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </span>
    </div>
  </div>
<% end %>