<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <span class="close" data-dismiss="alert alert-danger">×</span>
      <span>The form contains <%= pluralize(object.errors.count, "error") %>.</span>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>