<% if object.errors.any? %>
  <div class="alert-container">
  <div class="error-box alert-custom">


    <span><p>Oops, little problem: </p></span>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
  </div>
