<% if object.any? %>
  <div id="success">
    <div class="alert alert-success">
      <span class="close" data-dismiss="alert alert-success">×</span>
      <span><%= object[:success] %></span>
    </div>
  </div>
<% end %>