<div class = "tweet", id = "tweet_#{prediction.user.username}_#{prediction.stock.tickersymbol}">
      <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
      <a href= <%= tweet_link(prediction) %> >Share!</a>
</div>