<div class = "tweet", id = "tweet_#{prediction.id}">
      <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
      <a href= <%= tweet_link(prediction) %> class = "detail-toolbar-buttons detail-toolbar-hover" >
      	<i class="fa fa-twitter"><span class="detail-btn-label">Share</span></i>
      </a>
</div>