<div class="twitter-share-link" id="tweet-"<%= tweet[:user] %> >
      <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
      <a href= <%= tweet_link(tweet) %> >Share!</a>
</div>