<h1><%= current_user.username %></h1>
<span><%= link_to "view my profile", login_path %></span>

<% #Displays number of user posts. Pluralize() function to pularlizes the word 'post' when there are multiple posts %>
<span><%= pluralize(current_user.streams.count, "post")%></span>
