

<div class="constrainer">

	<p class="welcome-title">Welcome dmnstr12!</p>
	<p class="welcome-subtitle">Here are some of the most popular stocks being predicted and discussed right now on StockIQ:</p>
	<div class="welcome-stocks-div">
		<div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile">
	  		<span>$TWTR</span>
	  	</a>
  	</div>
  	<div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile col-xs-4">
	  		<span>$SHACK</span>
	  	</a>
	  </div>
	  <div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile col-xs-4">
	  		<span>$AAPL</span>
	  	</a>
  	</div>
		<div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile">
	  		<span>$TSLA</span>
	  	</a>
  	</div>
  	<div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile col-xs-4">
	  		<span>$AMZN</span>
	  	</a>
	  </div>
	  <div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile col-xs-4">
	  		<span>$GOOG</span>
	  	</a>
  	</div>
		<div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile">
	  		<span>$EBAY</span>
	  	</a>
  	</div>
  	<div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile col-xs-4">
	  		<span>$PRO</span>
	  	</a>
	  </div>
	  <div class="welcome-col col-xs-4">
	  	<a class="welcome-stock-box blue-blur-tile col-xs-4">
	  		<span>$FB</span>
	  	</a>
  	</div>
	</div>

</div>