<div class="graph-stock-stats">
  <div class="graph-stats-date-price">
    <p class="graph-price">$<%= price[:price] %></p>
    <p class="graph-label"><%= price[:date].strftime("%b %d, %Y") %></p>
  </div>
</div>