<div class="details-graph-prediction-stats clearfix">

  <div class="details-graph-stats-date-price">
    <p class="details-graph-price">$<%= prediction_custom[:price].round(2) %></p>
    <p class="details-graph-label"><%= (prediction_custom[:date] + Time.zone_offset("EST")).strftime("%b %d, %Y") %></p>
  </div>
  <div class="details-graph-prediction-stats-2">
    <p class="details-graph-price"><%= prediction_custom[:score].round(2) %></p>
    <p class="details-graph-label">POINTS</p>
  </div>

</div>