<div class="graph-stock-stats">
  <div class="graph-stats-date-price">
    <p class="graph-price">$<%= price.close_price.round(2) %></p>
    <p class="graph-label"><%= (price.date + (Time.zone_offset("EST")+price.date.offset_num/1000)).strftime("%b %d, %Y - %I:%M %p") %></p>
  </div>
</div>