<div class="prediction-name">

	<div class="prediction-name-center clearfix">
				
		<div class="prediction-name-items pull-left">	
			<%= link_to "/predictions/#{prediction.id}/" do %>
		  	<%= image_tag prediction.user.image %>
		  <% end %>
	  	<span class="prediction-name-title">
	  		<%= link_to "/predictions/#{prediction.id}/" do %>
		  		<span class="prediction-name-title-name">
		  			<%= prediction.user.username %>
		  		</span> Prediction
		  	<% end %>
		  </span>	
	  </div>

		<div class="prediction-name-vote-count pull-left">
			<a class="prediction-name-vote-count-up" href="#"><i class="fa fa-angle-up"></i></a>
			<p>10</p>
			<a class="prediction-name-vote-count-down" href="#"><i class="fa fa-angle-down"></i></a>
		</div>
	</div>

</div>