<div class="ticker-name clearfix">
  <p>
    <span><%= stock.stock %></span>
    	<div class="stockpage-follow-btn">
    		<%= render partial: 'shared/follow_form', locals: {target: @target} %>
    	</div>
  </p>
</div>