<div class="stock-name">
  <div class="stock-name-center clearfix">
    <p class="pull-left"><%= link_to stock.stock, "/stocks/#{stock.ticker_symbol}/" %>
    </p>
    <div class="pull-left follow-btn-div">
    	<%= render partial: "shared/follow_form", locals: {target: target} %>
    </div>
  </div>
</div>