    <span class="stream-like-button">
      <a href="#"><i class="fa fa-heart"><span class="stream-footer-counter">&nbsp;6</span></i></a>
    </span>

    <span class="stream-button">
      <a href="#"><i class="fa fa-comment"><span class="stream-footer-counter">&nbsp;{{replies.length}}</span></i></a>
    </span>

    <span class="stream-more-button pull-right">
      <a href="#"><i class="fa fa-chevron-down"></i></a>
    </span>
