  <span class="stream-like-icon">
   <i class="fa fa-heart"><span class="stream-footer-counter">&nbsp;6</span></i>
  </span>

  <span class="stream-reply-icon" data-toggle="modal" data-target="#stream-reply-modal">
    <i class="fa fa-comment"><span class="stream-footer-counter">&nbsp;{{replies.length}}</span></i>
  </span>

  <span class="stream-more-icon pull-right">
    <i class="fa fa-chevron-down"></i>
  </span>
