				<input name="utf8" type="hidden" value="✓">
    <div class="stream-comment-input">
        <div class="stream-comments-reply-img pull-left">
            <a href="/users/{{username}}/">
				            <img src="{{image}}" alt="Square profile">
            </a>
        </div>
        <div class="stream-comments-txt pull-left">
            <input placeholder="Leave a reply and hit enter.." id="reply" type="text" name="reply[content]">
            <input type="hidden" name="repliable_type" id="repliable_type" value="Comment">
            <input type="hidden" name="repliable_id" id="repliable_id" value="25">
            <input type="submit" name="commit" value="Reply" class="btn btn-primary stream-reply-form-buton" style="float:left; width:50px;">
        </div>
    </div>
