  <div class="stream-reply-img pull-left">
    <img src="{{user.image}}" />
  </div>
  <div class="stream-reply-txt pull-left">
    <span class="stream-reply-username">{{user.username}}&nbsp</span>
    <span class="stream-reply-time">{{time_ago}}
    <p class="stream-replies-reply clearfix">
      {{content}}
    </p>
  </div>

