  <div class="open-comment-only-form-div" id="tabs-1">
    <div class="open-comment-only-field">
      <input type="textarea" placeholder="Comment on AAPL", class="comment-form-textarea", id="open-comment" />
    </div>
    <div class="button-counter clearfix">
      <input type="button" class="btn pull-right" value="Submit" />
    </div>
  </div>
