
.prediction-detail-blue-blur {
  background-image: asset-url("blue-blur33.png");
  background-size: cover;
  max-width: 100%;
  clear: both;
  padding-top: 1px;
  overflow: hidden;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}



/*-------- PREDICTION NAME TITLE -----------*/

.prediction-name-title-name {
	display: inline;
}

.prediction-details-name-follow {
	display: block;
}

.prediction-detail-header {
	height: 50px;
	margin-top: 36px;
}

.prediction-name-items {
	display: block;
	clear: both;
	width: 190px;
	margin: auto;
}

.prediction-name-items img {
	display: block;
	float: left;
	width: 30%;
	margin-right: 3px;
	position: relative;
	border-radius: 90px;
	border: 1px solid rgba(255, 255, 255, 1);
}

.prediction-details-name-follow {
	float: right;
	width: 60%;
	margin-left: 10px;
}

.prediction-name-title a {
	display: block;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	color: rgba(255, 255, 255, .90);
  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}


.follow-btn-white form {
	display: inline-block;
}

a.follow-btn-white .follow-btn-follow {
	text-align: center;
	margin-left: 1px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #fff;
	border-radius: 3px 3px 3px 3px;
	font-size: 11px;
	color: #2A3744;
	font-weight: 500;
	background-color: #fff;
}

a.follow-btn-white .follow-btn-follow:hover {
	-webkit-transition: 90ms ease-in;
	-moz-transition: 90ms ease-in;
	-o-transition: 90ms ease-in;
	transition: 90ms ease-in;
	color: #fff;
	background-color: #7CB5EC;
	border: 1px solid #7CB5EC;
}

.follow-btn-follow:focus {
	outline: none;
}

.follow-btn-blue form {
	display: inline-block;
}

a.follow-btn-blue .follow-btn-follow {
	text-align: center;
	margin-left: 1px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #7CB5EC;
	border-radius: 3px 3px 3px 3px;
	font-size: 11px;
	font-weight: 500;
	color: #fff;
	background-color: #7CB5EC;
}

a.follow-btn-blue .follow-btn-follow:hover {
	text-decoration: none;
	outline: none;
}

a.follow-btn-blue .follow-btn-follow:focus {
	text-decoration: none;
	outline: none;
}


/*-------- MY PREDICTION NAME TITLE -----------*/

.prediction-my-name-follow {
	float: right;
	width: 60%;
	margin-left: 10px;
}

.prediction-my-name-title {
	padding-top: 9px;
}

.prediction-my-name-title a {
	margin-top: 18px;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	color: rgba(255, 255, 255, .90);
  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.prediction-my-name-title a:hover {
	color: #7cb5ec;
}

.detail-name-title {
	display: block;
	margin-top: 3px;
	color: rgba(255, 255, 255, 0.50);
}





.detail-graph-stats {
	display: none;
}

.details-graph-prediction-stats {
	display: none;
}

.detail-vote-arrows-mobile a {
	display: block;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #7CB5EC;
	font-size: 21px;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.detail-toolbar-mine {
	display: none;
}

.detail-toolbar-not-mine {
	display: none;
}

/* ----- REPLY BUTTON ------*/

.prediction-detail-reply-btn {
	margin-top: 5px;
}

.prediction-detail-reply-btn a {
	display: inline-block;
	background-color: #BDF271;
	border-radius: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
	color: #3B5998;
	text-decoration: none;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.prediction-detail-reply-btn a:hover {
	color: #3B5998;
	background-color: #C1F582;
	cursor: pointer;
	outline: none;
}

.prediction-detail-reply-btn a:focus {
	color: #3B5998;
	background-color: #C1F582;
	cursor: pointer;
	outline: none;
}


/* ----- DETAIL BUTTON ------*/

.prediction-detail-close-btn {
	margin-top: 0px;
}

.prediction-detail-close-btn a {
	display: inline-block;
	background-color: #7cb5ec;
	border-radius: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.prediction-detail-close-btn a:hover {
	color: #fff;
	background-color: #8EB7ED;
	cursor: pointer;
	outline: none;
}

.prediction-detail-close-btn a:focus {
	color: #fff;
	background-color: #8EB7ED;
	cursor: pointer;
	outline: none;
}


.prediction-detail-item {
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #fff;
	border: solid 1px rgba(0,0,0,.07);;
	color: #919191;
	text-decoration: none;
}


.prediction-detail-replies {
	margin-right: 0px;
	padding-left: 30px;
	padding-right: 30px;
}

/* ----- PREDICTION DETAIL MOBILE REPLIES ------*/

.prediction-detail-item-mobile {
	display: block;
	margin-top: 15px;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 0px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	color: #919191;
	text-decoration: none;
}


.prediction-detail-replies-mobile {
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
}


/* ----- PREDICTION TWEET ------*/

.prediction-detail-tweet {
	overflow: hidden;
	color: #FAFAFA;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: 1px;
}

.prediction-detail-tweet p {
	line-height: 24px;
	color: #919191;
	font-size: 18px;
	margin-top: 10px;
}

.prediction-detail-tweet a {
	color: #7cb5ec;
	text-decoration: none;
	padding-bottom: 2px;
}

.prediction-detail-tweet a:hover {
	text-decoration: none;
	border-bottom: 1px solid #7cb5ec;
}



/* ----- PREDICTION CLOSED TWEET ------*/


.prediction-detail-tweet {
	overflow: hidden;
	margin-top: 10px;
	font-weight: 300;
	letter-spacing: 1px;
}

.prediction-detail-tweet a {
	color: #7cb5ec;
	text-decoration: none;
	padding-bottom: 2px;
}

.prediction-detail-tweet-clear p {
	margin-top: 20px;
	margin-bottom: 0px;
	line-height: 24px;
	color: #fff;
	font-size: 18px;
}

.prediction-detail-tweet-opaque {
	margin-top: 20px;
	color: #C7C7C7;
	line-height: 24px;
	font-size: 18px;
}

.detail-stream-comment-header {
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 6px;
	margin-top: 30px;
	border-bottom: solid 1px #C7C7C7; 
}

.detail-stream-comment-header p {
	color: #919191;
	margin-bottom: 0px;
}


/*------------ DETAIL PG MOBILE TOOLBAR -----------*/


/*--- MINE ---*/

.detail-btn-label {
	display: none;
}

.detail-btn-label-points {
	display: none;
}

.detail-mobile-toolbar-mine {
	position: fixed;
	width: 100%;
	bottom: 0;
	display: block;
	overflow: hidden;
	background-color: #fff;
	border: solid 1px rgba(0,0,0,.1);
	color: #7cb5ec;
	text-decoration: none;
}

.detail-mobile-toolbar-buttons-points {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 19px;
	color: #7cb5ec;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.detail-mobile-toolbar-buttons-points .point {
	display: inline-block;
	background-color: #7cb5ec;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	padding: 2px 6px 2px 6px
}

.detail-mobile-toolbar-buttons-points:hover {
	color: #7cb5ec;
	text-decoration: none;
}

.detail-mobile-toolbar-buttons-points:focus {
	color: #7cb5ec;
	outline: none;
	text-decoration: none;
}



/*--- NOT MINE ---*/

.detail-mobile-toolbar-not-mine {
	position: fixed;
	width: 100%;
	bottom: 0;
	display: block;
	overflow: hidden;
	background-color: #fff;
	border: solid 1px rgba(0,0,0,.1);;
	color: #7cb5ec;
	text-decoration: none;
}

.detail-mobile-toolbar-buttons {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 21px;
	color: #7cb5ec;
}

.detail-mobile-toolbar-buttons i {
	font-size: 18px;
}

.detail-mobile-toolbar-buttons:hover {
	color: #7cb5ec;
	text-decoration: none;
}

.detail-mobile-toolbar-buttons:focus {
	color: #7cb5ec;
	outline: none;
	text-decoration: none;
}

.detail-toolbar-divide {
	border-left: 1px solid rgba(0,0,0,.07);
}

.detail-mobile-toolbar-buttons i:before {
	padding-right: 10px;
}

.detail-reply-placeholder {
	display: none;
}



@media (min-width: 768px) {

.detail-graph-stats-mobile {
	display: none;
}

.detail-graph-stats {
	display: block;
}

.prediction-detail-blue-blur {
  padding-bottom: 0px;
}

.detail-mobile-toolbar-mine {
	display: none;
}

.detail-mobile-toolbar-not-mine {
	display: none;
}


/*------------ DETAIL PG STATS ASIDE -----------*/

.details-graph-stats-col {
	margin-top: 18px;
	padding-left: 0px;
	padding-right: 0px;
	clear: none;
}

.details-graph-prediction-stats {
	display: block;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.details-graph-price {
	font-size: 30px;
	line-height: 17px;
	color: #fff;
	margin-top: 23px;
}

.details-graph-label {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.39);
	text-transform: uppercase;
	margin-bottom: 0px;
}

.detail-vote-arrows-mobile {
	margin-top: 12px;
	padding-right: 0px;
	padding-left: 0px;
}

.detail-vote-arrows-mobile a {
	display: none;
}

.details-graph-prediction-stats-2 {
	margin-top: 7px;
}

.graph-prediction-detail-btn a {
	width: 70%;
}

.graph-prediction-detail-btn a {
	padding-top: 12px;
	padding-bottom: 12px;
}

.graph-prediction-detail-btn a {
	margin-top: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
}



/* ----- REPLY BUTTON ------*/

.prediction-detail-reply-btn {
	margin-top: 5px;
}

.prediction-detail-reply-btn a {
	display: inline-block;
	background-color: #BDF271;
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 100%;
	font-size: 12px;
	font-weight: 400;
	cursor: pointer;
	color: #3B5998;
	text-decoration: none;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.prediction-detail-reply-btn a:hover {
	color: #3B5998;
	background-color: #C1F582;
	cursor: pointer;
	outline: none;
}

.prediction-detail-reply-btn a:focus {
	color: #3B5998;
	background-color: #C1F582;
	cursor: pointer;
	outline: none;
}


/* ----- DETAIL BUTTON ------*/

.prediction-detail-close-btn {
	margin-top: 0px;
}

.prediction-detail-close-btn a {
	display: inline-block;
	background-color: #7cb5ec;
	border-radius: 3px;
	padding-top: 15px;
	padding-bottom: 12px;
	width: 100%;
	font-size: 12px;
	font-weight: 400;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	margin-top: 10px;
	text-transform: uppercase;
	text-align: center;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.prediction-detail-close-btn a:hover {
	color: #fff;
	background-color: #8EB7ED;
	cursor: pointer;
	outline: none;
}

.prediction-detail-close-btn a:focus {
	color: #fff;
	background-color: #8EB7ED;
	cursor: pointer;
	outline: none;
}

.prediction-detail-item {
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #fff;
	border: solid 1px rgba(0,0,0,.1);
	border-radius: 3px;
	color: #919191;
	text-decoration: none;
}


.prediction-detail-replies {
	margin-right: 0px;
	padding-left: 30px;
	padding-right: 30px;
}


/*------------ DETAIL PG DESKTOP TOOLBAR -----------*/


/*--- MINE ---*/

.detail-toolbar-mine {
	display: block;
	margin-top: 20px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	border-radius: 3px;
	color: #919191;
	text-decoration: none;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.detail-toolbar-hover {
  padding: 0px;
  height: 57px;
  cursor: pointer;
  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.detail-toolbar-hover:hover {
	border-bottom: 3px solid #7cb5ec;
  	cursor: pointer;
}

.detail-toolbar-buttons-points .point {
	display: inline-block;
	background-color: #7cb5ec;
	color: #fff;
	border-radius: 3px;
	padding: 2px 6px 2px 6px;
}

.detail-toolbar-buttons-points {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 19px;
	padding-bottom: 18px;
	font-weight: 500px;
	color: #7cb5ec;
}

.detail-toolbar-buttons-points:hover {
	color: #7cb5ec;
	text-decoration: none;
}

.detail-toolbar-buttons-points:focus {
	color: #7cb5ec;
	outline: none;
	text-decoration: none;
}



/*--- NOT MINE ---*/

.detail-toolbar-not-mine {
	display: block;
	margin-top: 20px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	border-radius: 3px;
	color: #919191;
	text-decoration: none;
}

.detail-toolbar-buttons {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #7cb5ec;
}

.detail-toolbar-buttons:hover {
	color: #7cb5ec;
	text-decoration: none;
}

.detail-toolbar-buttons:focus {
	color: #7cb5ec;
	outline: none;
	text-decoration: none;
}

.detail-toolbar-divide {
	border-left: 1px solid rgba(0,0,0,.07);
	padding-left: 0px;
	padding-right: 0px;
}

.detail-toolbar-col {
	padding-left: 0px;
	padding-right: 0px;
}

.detail-toolbar-buttons i:before {
	padding-right: 10px;
}

.detail-reply-placeholder {
	display: block;
	margin-top: 20px;
	text-align: center;
}

.detail-reply-placeholder i {
	font-size: 130px;
	color: #C7C7C7;
	text-align: center;
}

.detail-reply-placeholder p {
	font-size: 24px;
	font-weight: 400;
	color: #C7C7C7;
}


}
@media (min-width: 991px) {

.graph-prediction-detail-btn a {
	margin-top: 24px;
}

.graph-prediction-detail-btn a {
	margin-top: 25px;
	padding-top: 9px;
	padding-bottom: 9px;
}

.detail-btn-label {
	display: inline-block;
	font-weight: 500;
}

.detail-btn-label-points {
	display: inline-block;
}

.details-graph-price {
	font-size: 45px;
	line-height: 27px;
	color: #fff;
	margin-top: 24px;
}

.details-graph-label {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.39);
	text-transform: uppercase;
	margin-bottom: 0px;
}



}
