

/*-----------------SIGNIN PAGE----------------*/


.blue-blur-sign-in {
  background-image: asset-url("blue-blur33.png");
  background-size: cover;
  max-width: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
}

.signin-logo-container {
  margin-top: 60px;
  display: block;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.signin-logo-container img {
  width: 100%;
}

.signin-subtitle {
  text-align: center;
  max-width: 690px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #7cb5ec;
}

.signin-subtitle span {
  color: #fff;
}


.signin-form-div {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  max-width: 690px;
}

.signin-form-box {
  font-size: 11px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

.signin-signin-link {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}


.signin-signin-link a {
  color: #7cb5ec;
  margin-left: 5px;
  text-decoration: none;
  padding-bottom: 2px;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.signin-signin-link a:hover {
  color: #7cb5ec;
  border-bottom: 1px solid #7cb5ec;
}

.signin-form-fields input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: rgba(124,181,236,.2);
  border: 0px;
  outline: none;
  color: #fff;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 0 1pt rgba(0,0,0,0.1);
}

.signin-form-fields input::-webkit-input-placeholder {
  color: #7cb5ec;
}

.signin-form-fields input:-moz-placeholder {
  color: #7cb5ec;  
}

.signin-form-fields input::-moz-placeholder {
  color: #7cb5ec;  
}

.signin-form-fields input:-ms-input-placeholder {  
  color: #7cb5ec;  
}

.signin-form-fields input:focus {
  outline: none;
  box-shadow: 0 0 0 1pt #7cb5ec;
}

.signin-submit-button-div input {
  padding-bottom: 17px;
  padding-top: 17px;
  color: #fff;
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
  background-color: #90ed7d;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.signin-submit-button-div input:hover {
    background-color: #82e66e;
    cursor: pointer;
    color: #fff;
}

.signin-submit-button-div input:focus {
  color: #fff;
  outline: none;
}

@media (min-width: 768px) {

.signin-logo-container {
  width: 40%;
}

.signin-nav-link p {
  padding-top: 20px;
  font-size: 12px;
}

}



@media (min-width: 991px) {

.signin-logo-container {
  width: 30%;
}

}