

.stockpage-side-analysts-box {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	background-color: #fff;
	margin-top: 20px;
}

.stockpage-side-analysts-header {
	height: 36px;
	color: #808080;
	font-size: 13px;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 11px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.stockpage-side-analysts-img img {
	width: 21px;
	border-radius: 90px;
}

.stockpage-side-analysts-label {
	margin-top: 3px;
	margin-left: 10px;
}

.stockpage-side-analysts-number {
	margin-top: 3px;
}

.stockpage-side-analysts-box a {
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #808080;
	font-size: 11px;
	font-weight: 300;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;

}

.stockpage-side-analysts-box a:hover {
	background-color: rgba(124,181,236,.06);
	color: #7cb5ec;
}


@media (min-width: 991px) {

.stockpage-side-analysts-header {
	height: 47px;
	color: #808080;
	font-size: 18px;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 14px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

}
