

.blue-blur-tile {
  background: #7cb5ec;
  opacity: .9;
}

.blue-blur-tile:hover {
  opacity: 1;
}

.blue-blur {
  background-image: asset-url("blue-blur33.png");
  background-size: cover;
  max-width: 100%;
  clear: both;
  padding-top: 1px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

.add-timeframes {
	display: none
}

.stockpage-graph-full {
	margin-bottom: 10px;
}

.stockpage-graph-col {
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
}



/*-------- TICKER NAME TITLE -----------*/

.stock-name {
	text-align: center;
	height: 42px;
	margin-top: 27px;
}

.stock-name-center {
	display: inline-block;
	margin-top: 9px;
	margin-bottom: 9px;
}

.stock-name-center p a {
	font-size: 33px;
	text-align: center;
	text-decoration: none;
	font-weight: 300;
	color: rgba(255, 255, 255, .90);

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.stock-name-center p a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.stockpage-follow-btn {
	border: solid 1px rgba(255,255,255,.85);
	border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10px;
	font-family: 'Lato';
	background-color: transparent;
	color: rgba(255,255,255,.90);
	text-decoration: none;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 21px;
	padding-left: 11px;
	padding-right: 11px;


  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.stockpage-follow-btn:hover {
	border: solid 1px rgba(255,255,255,1);
	color: rgba(255,255,255,1);
}

.follow-btn-div input:focus {
	outline: none;
	outline-color: transparent;
}



/*-------- PREDICTION NAME TITLE -----------*/


.prediction-name {
	text-align: center;
	height: 42px;
	margin-top: 27px;
}

.prediction-name-center {
	display: inline-block;
	margin-top: 9px;
	margin-bottom: 9px
}

.prediction-name-title-name {
	display: none;
}

.prediction-name {
	text-align: center;
	height: 42px;
	margin-top: 27px;
}

.prediction-name-center {
	display: inline-block;
}

.prediction-name-items img {
	width: 30px;
	margin-right: 3px;
	position: relative;
	border-radius: 90px;
	border: 1px solid rgba(255, 255, 255, 1);
}

.prediction-name-title a {
	display: inline-block;
	text-decoration: none;
	vertical-align: 9%;
	font-size: 33px;
	font-weight: 300;
	color: rgba(255, 255, 255, .90);
  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.prediction-name-title a:hover {
	color: rgba(255, 255, 255, 1);
}



.prediction-name-vote-count {
  margin-left: 10px;
  margin-top: -13px;
  padding-left: 0px;
  padding-right: 0px;
}

.prediction-name-vote-count a {
	display: block;
	margin: auto;
	text-align: center;
	color: rgba(255,255,255,.90);
	font-size: 24px;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.prediction-name-vote-count a:hover {
	color: rgba(255,255,255,1);
}

.prediction-name-vote-count p {
	text-align: center;
	color: #fff;
	line-height: 10px;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 0px;
	margin-top: 2px;
}




/*----------------- GRAPH ----------------*/

.stockpage-graph-col {
	padding-left: 0px;
}

.graph-replace-box {
	display: block;
	overflow: hidden;
}

.graph-background-div {
	margin-top: 0px;
}

.tkr {
	font-size: 69px;
	line-height: 21px;
	font-weight: 600;
	color: rgba(255, 255, 255, .09);
	margin-top: 20px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.graph-div {
	margin-top: -45px;
}



/*-------- GRAPH TIMEFRAMES -----------*/


.graph-full-timeframes {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	overflow: hidden;
}

.timeframe-item {
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
	height: 30px;
}

.timeframe-item a {
	cursor: pointer;
	display: block;
	text-align: center;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 12px;
	font-size: 11px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.39);

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.timeframe-item a:hover {
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgba(255, 255, 255, 1);
}

.timeframe-item a:focus {
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgba(255, 255, 255, 0.85);
}


.timeframe-item-selected {
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
	height: 30px;
}

.timeframe-item-selected a {
	cursor: pointer;
	display: block;
	text-align: center;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 12px;
	font-size: 11px;
	font-weight: 300;
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgba(255, 255, 255, 0.85);


  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.timeframe-item-selected a:hover {
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgba(255, 255, 255, 1);
}

.timeframe-item-selected a:focus {
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgba(255, 255, 255, 0.85);
}



/*------------ GRAPH STATS ASIDE-------------*/


.graph-stock-stats {
}

.stockpage-graph-stats-col {
	padding-left: 0px;
	padding-right: 0px;
	clear: both;
}

.graph-stats-date-price {
	text-align: center;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.graph-prediction-stats {
	text-align: center;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.graph-price {
	font-size: 49px;
	color: #fff;
}

.graph-label {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.39);
	text-transform: uppercase;
	margin-top: 5px
}



/*-------------- MOBILE BUTTONS--------------*/


.stockpage-mobile-buttoms-col {
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.graph-mobile-predict-button-div {
	margin-top: 30px;
}

.graph-mobile-predict-button-div a {
	display: block;
	border: solid 1px rgba(255, 255, 255, 0.80);
	border-radius: 0px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: rgba(255, 255, 255, 0.80);
	font-size: 11px;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.graph-mobile-predict-button-div a:hover {
	border: solid 1px rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}



/*--------- MOBILE PREDICTION OPEN-----------*/


.graph-mobile-open-prediction {
	overflow: hidden;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: solid 1px rgba(255, 255, 255, 0.2);
}

.graph-mobile-open-prediction-col p {
	text-align: center;
}

.graph-mobile-open-prediction-figure {
	color: rgba(255, 255, 255, 0.90);
	margin-bottom: 5px;
	font-weight: 300;
	font-size: 21px;
}

.graph-mobile-open-prediction-title {
	color: rgba(255, 255, 255, 0.39);
	font-size: 11px;
	margin-bottom: 0px;
}

.graph-mobile-close-prediction-button-mobile {
	padding-bottom: 30px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.graph-mobile-close-prediction-button-mobile a {
	display: block;
	border: solid 1px rgba(255, 255, 255, 0.80);
	border-radius: 0px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: rgba(255, 255, 255, 0.80);
	font-size: 11px;
	width: 100%;

	-webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.graph-mobile-close-prediction-button-mobile a:hover {
	border: solid 1px rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}


@media (min-width: 480px) {

}


@media (min-width: 768px) {

.graph-mobile-predict-button-div {
	display: none;
}

.graph-mobile-close-prediction-button-mobile {
	display: none;
}

.graph-mobile-open-prediction {
	display: none;
}

.add-timeframes {
	display: inline;
}


/*-------- TICKER NAME TITLE -----------*/

.tkr {
	font-size: 90px;
	font-weight: 500;
}



/*-------- PREDICTION NAME TITLE -----------*/

.prediction-name-title-name {
	display: inline;
}



/*----------------- GRAPH ----------------*/

.stockpage-graph-col {
	margin-top: 30px;
	padding-left: 0px;
	padding-right: 15px;
}

.graph-background-div {
	margin-top: 33px;
}

.graph-div {
	margin-top: -60px;
}


/*------------ GRAPH TIMEFRAMES -----------*/

.graph-full-timeframes {
	margin-top: 15px;
	width: 100%;
	overflow: hidden;
}

.timeframe-item {
	width: 9%;
	padding-left: 0px;
	padding-right: 15px;
	height: 22px;
}


/*------------ GRAPH STATS ASIDE -----------*/

.stockpage-graph-stats-col {
	margin-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	clear: none;
}

.stockpage-graph-col {
	padding-left: 0px;
}

.graph-prediction-stats {
	text-align: center;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.graph-price {
	font-size: 39px;
	color: #fff;
}

.graph-label {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.39);
	text-transform: uppercase;
	margin-top: 5px
}

.graph-prediction-stats-2 {
	margin-top: 20px;
}





}


@media (min-width: 991px) {

.stockpage-graph-col {
	padding-left: 0px;
	padding-right: 30px;
}

.prediction-name img {
	width: 36px;
	margin-right: 3px;
	position: relative;
	border-radius: 90px;
	border: 1px solid rgba(255, 255, 255, 1);
}


.prediction-name-title {
	vertical-align: 15%;
}


.graph-background-div {
	margin-top: 50px;
}

.tkr {
	font-size: 130px;
	font-weight: 500;
}

.graph-div {
	margin-top: -66px;
}



/*------------ GRAPH STATS ASIDE -----------*/


.stockpage-graph-stats-col {
	padding-left: 0px;
	padding-right: 0px;
}

.graph-stats-date-price {
	text-align: center;
}

.graph-price {
	font-size: 60px;
	color: #fff;
}

.graph-label {
	font-size: 15px;
	color: rgba(255, 255, 255, 0.39);
	text-transform: uppercase;
	margin-top: 3px
}





.graph-full-timeframes {
	margin-top: 15px;
	width: 100%;
	overflow: hidden;
}

.timeframe-item {
	width: 8%;
	padding-left: 0px;
	padding-right: 20px;
	height: 30px;
}

.timeframe-item-selected {
	width: 8%;
	padding-left: 0px;
	padding-right: 20px;
	height: 30px;
}




}

@media (min-width: 1050px) {

}