

.stockpage-graph-stats-col {
	display: none;
}

.add-timeframes {
	display: none
}

.stockpage-graph-full {
}

.stockpage-graph-col {
	padding-left: 0px;
	padding-right: 0px;
}

.ticker-name {
	margin-top: 20px;
}

.tkr {
	text-transform: uppercase;
}

.ticker-name p {
	font-size: 39px;
	font-weight: 300;
	color: rgba(255, 255, 255, 1);
}

.stockpage-follow-btn {
	margin-left: 10px;
	margin-top: 3px;
}

.stockpage-follow-btn a {
	border: solid 1px rgba(255,255,255,.85);
	border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10px;
	font-family: 'Lato';
	color: rgba(255,255,255,.85);
	text-decoration: none;
	margin: auto;
	padding-left: 11px;
	padding-right: 11px;

	-webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.stockpage-follow-btn a:hover {
	border: solid 1px rgba(255,255,255,1);
	color: rgba(255,255,255,1);
}

.graph-background-div {
	margin-top: 15px;
	margin-bottom: 20px;
}

.graph-background-div p {
	font-size: 30px;
	font-weight: 900;
	color: rgba(255, 255, 255, .09);
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 33px;
}

#stock-div {
	margin-top: -89px;
}

.graph-full-timeframes {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	overflow: hidden;
}

.timeframe-item {
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
	height: 30px;
}

.timeframe-item a {
	cursor: pointer;
	display: block;
	text-align: center;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 12px;
	font-size: 11px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.39);

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.timeframe-item a:hover {
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgba(255, 255, 255, 1);
}

.timeframe-item a:focus {
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgba(255, 255, 255, 0.85);
}


.graph-mobile-predict-button-div {
	margin-top: 10px;
}

.graph-mobile-predict-button-div a {
	display: block;
	border: solid 1px rgba(255, 255, 255, 0.80);
	border-radius: 0px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: rgba(255, 255, 255, 0.80);
	font-size: 11px;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.graph-mobile-predict-button-div a:hover {
	border: solid 1px rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}



.graph-mobile-open-prediction {
	overflow: hidden;
	margin-top: 20px;
	padding-top: 18px;
	padding-bottom: 20px;
	border-top: solid 1px rgba(255, 255, 255, 0.2);
}

.graph-mobile-open-prediction-col p {
	text-align: center;
}

.graph-mobile-open-prediction-figure {
	color: rgba(255, 255, 255, 0.85);
	margin-bottom: 5px;
	font-weight: 300;
	font-size: 21px;
}

.graph-mobile-open-prediction-title {
	color: rgba(255, 255, 255, 0.2);
	font-size: 11px;
	margin-bottom: 0px;
}


.graph-mobile-close-prediction-button-mobile {
	padding-bottom: 20px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.graph-mobile-close-prediction-button-mobile a {
	display: block;
	border: solid 1px rgba(255, 255, 255, 0.80);
	border-radius: 0px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: rgba(255, 255, 255, 0.80);
	font-size: 11px;
	width: 100%;

	-webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.graph-mobile-close-prediction-button-mobile a:hover {
	border: solid 1px rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}


@media (min-width: 480px) {

}


@media (min-width: 768px) {

.graph-mobile-predict-button-div {
	display: none;
}

.graph-mobile-close-prediction-button-mobile {
	display: none;
}

.graph-mobile-open-prediction {
	display: none;
}

.add-timeframes {
	display: inline;
}


/*************** STOCKPAGE FULL WIDTH ***********************/



.graph-background-div p {
	font-size: 53px;
	font-weight: 700;
	color: rgba(255, 255, 255, .08);
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 56px;
}

#stock-div {
	margin-top: -139px;
}


.graph-full-timeframes {
	margin-top: 15px;
	width: 100%;
	overflow: hidden;
}

.timeframe-item {
	width: 9%;
	padding-left: 0px;
	padding-right: 15px;
	height: 22px;
}

}


@media (min-width: 991px) {


.stockpage-graph-col {
	padding-left: 0px;
	padding-right: 30px;
}

.stockpage-graph-stats-col {
	display: block;
	padding-right: 0px;
	padding-left: 0px;
}

.graph-stats-header {
	margin-top: 80px;
}

.graph-stats-header p {
	color: rgba(255, 255, 255, 0.85);
	padding-bottom: 3px;
	margin-bottom: 0px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.85);
	font-weight: 300;
	font-size: 21px;
}

.graph-stats-content-item {
	display: block;
	color: rgba(255, 255, 255, 0.85);
	font-size: 11px;
	font-weight: 300;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.39);
	width: 100%;
}

.graph-stats-content-label {
	color: rgba(255, 255, 255, 0.39);
	text-transform: uppercase;
	width: 100px;
	margin-bottom: 0px;
	margin-top: 5px;
}

.graph-stats-content-col-left {
	padding-left: 0px;
	padding-right: 10px;
}

.graph-stats-content-item img {
	width: 24px;
	border-radius: 90px;
	border: 2px solid rgba(255, 255, 255, 1);
}


.graph-full-timeframes {
	margin-top: 15px;
	width: 100%;
	overflow: hidden;
}

.timeframe-item {
	width: 8%;
	padding-left: 0px;
	padding-right: 20px;
	height: 30px;
}




}

@media (min-width: 1050px) {

}