

.stockpage-sidebar-stocks-header {
	height: 36px;
	color: #808080;
	font-size: 13px;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 11px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.stockpage-sidebar-open-points i {
	font-size: 15px;
	color: #C7C7C7;
}

.stockpage-sidebar-stocks-box {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
  	background-color: #fff;
	font-size: 11px;
	font-weight: 300;
	margin-top: 20px;
}

.stockpage-sidebar-stocks-item {
	cursor: pointer;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #808080;
	text-transform: uppercase;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.stockpage-sidebar-stocks-item span {
	color: #C7C7C7;
}

.stockpage-sidebar-stocks-number i {
	margin-right: 7px;
	font-size: 9px;
}

.stockpage-sidebar-stocks-item:hover {
	background-color: rgba(124,181,236,.07);
	color: #7cb5ec;

}



@media (min-width: 991px) {

.stockpage-sidebar-stocks-header {
	height: 47px;
	color: #808080;
	font-size: 18px;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 14px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

}

