
.stockpage-sidebar-open {
	overflow:hidden;
	display:block;
	margin-top: 20px;
}

.stockpage-sidebar-open-header {
	height: 47px;
	color: #808080;
	font-size: 19px;
	font-weight: 300;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 14px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.stockpage-sidebar-open-box {
	border: 1px solid rgba(0,0,0,.07);
	background-color: #fff;
	font-size: 11px;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 15px;
	overflow:hidden;
}

.sidebar-open-item {
	padding-left: 0px;
	padding-right: 0px;
}

.sidebar-open-item p {
	text-align: center;
}

.sidebar-open-figure {
	color: #808080;
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: 300;
	font-size: 21px;
}

.sidebar-open-title {
	color: #B3B3B3;
	font-size: 11px;
	font-weight: 300;
	margin-bottom: 0px;
}


.close-comment-textarea {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FAFAFA;
	color: #919191;
	outline: none;
	width: 100%;
	resize: none;
	height: 50px;
	margin-top: 20px;
}

.close-comment-textarea:focus {
	border: 1px solid rgba(0,0,0,.07);
}

.sidebar-open-close-comment-div span {
	display: block;
	color: #919191;
	margin-right: 10px;
}


.sidebar-close-button input {
	margin-top: 10px;
	border: solid 1px #B3B3B3;
	border-radius: 0px;
	padding-bottom: 9px;
	padding-top: 9px;
	color: #B3B3B3;
	font-size: 11px;
	font-weight: 300;
	width: 100%;
	background-color: #FFF;

	-webkit-transition: 150ms ease-in;
    -moz-transition: 150ms ease-in;
    -o-transition: 150ms ease-in;
    transition: 150ms ease-in;
}

.sidebar-close-button input:hover {
	border: solid 1px #7cb5ec;
	color: #7cb5ec;
}


.stockpage-sidebar-comment-header {
	height: 47px;
	color: #808080;
	font-size: 18px;
	font-weight: 300;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 14px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.stockpage-sidebar-comment-box {
	display: block;
	border: 1px solid rgba(0,0,0,.07);
	background-color: #fff;
	font-size: 11px;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 15px;
}

.stockpage-sidebar-comment-box i {
	font-size: 15px;
	color: #C7C7C7;
}

.stockpage-sidebar-comment-div {
	overflow: hidden;
}

.comment-form-textarea {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FAFAFA;
	color: #808080;
	outline: none;
	width: 100%;
	resize: none;
	height: 50px;
	margin-top: 20px;
}

.comment-form-textarea:focus {
	outline: 1px solid rgba(0,0,0,.07);
}


.comment-submit-button-div {
	margin-top: 10px;
}

.comment-submit-button-div input {
	border: solid 1px #B3B3B3;
	border-radius: 0px;
	padding-bottom: 9px;
	padding-top: 9px;
	color: #B3B3B3;
	font-size: 11px;
	font-weight: 300;
	width: 100%;
	background-color:#FFF;

	-webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.comment-submit-button-div input:hover {
	border: solid 1px #7cb5ec;
	color: #7cb5ec;
}

