

.stockpage-sidebar-open-header {
	height: 33px;
	margin-top: 15px;
	color: #E6E6E6;
	font-size: 11px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.stockpage-sidebar-open-box {
	border: 1px solid rgba(0,0,0,.07);
	font-size: 11px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 15px;
}

.sidebar-open-item {
	padding-left: 0px;
	padding-right: 0px;
}

.sidebar-open-item p {
	text-align: center;
}

.sidebar-open-figure {
	color: #808080;
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: 300;
	font-size: 21px;
}

.sidebar-open-title {
	color: #B3B3B3;
	font-size: 11px;
	margin-bottom: 0px;
}


.sidebar-close-button input {
	margin-top: 20px;
	border: solid 1px #B3B3B3;
	border-radius: 0px;
	padding-bottom: 9px;
	padding-top: 9px;
	color: #B3B3B3;
	font-size: 11px;
	width: 100%;
	background-color: #FFF;

	-webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.sidebar-close-button input:hover {
	border: solid 1px #808080;
	color: #808080;
}