

.user-top-box {
	margin-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
}

.user-top-box-img {
	padding-left: 0px;
	padding-right: 0px;
}

.user-top-box-img img {
	width: 100%;
}

.user-top-box-bio {
	border: 1px solid rgba(0,0,0,.07);
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-top-box-bio p {
	font-size: 12px;
	font-family: 'Lato';
	line-height: 18px;
	color: #808080;
	margin-top: 0px;
	margin-bottom: 0px;
}

.user-top-box-stats-box {
	margin-top: 20px;
	border: 1px solid rgba(0,0,0,.07);
}

.user-top-box-data {
	padding-left: 0px;
	padding-right: 0px;
}

.user-top-stats-header {
	height: 39px;
	color: #7cb5ec;
	font-size: 11px;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 13px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.user-top-stats-item {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #808080;
	font-size: 12px;
}


@media (min-width: 480px) {


}


@media (min-width: 768px) {

.user-top-box {
	display: none;
}


}