
.user-page-banner {
  display: none;
}

.user-page-banner-overlay {
  display: none;
}

@media (min-width: 768px) {

.user-page-banner {
	display: block;
	height: 230px;
}

.user-page-banner-overlay {
	display: block;
	position: relative;
	height: 47px;
	background: rgba(0,0,0,0.7);
	margin-top: -50px;
	padding-left: 0px;
	padding-right: 20px;
	padding-top: 16px;
}

.user-page-banner-overlay ul {
	display: inline;
}

.user-page-banner-overlay ul li:first-child {
	font-size: 15px;
	color: #E6E6E6;
}

.overlay-name {
	text-transform: uppercase;
}

.user-page-banner-overlay ul li {
	display: inline;

}

.user-page-banner-overlay ul li a {
	margin-left: 15px;
	color: #E6E6E6;
	font-size: 15px;
	text-decoration: underline;

	-webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;

}

.user-page-banner-overlay ul li a:hover {
	color: #fff;
}

}


@media (min-width: 981px) {


.user-page-banner-overlay ul {
	display: inline;
}

.user-page-banner-overlay ul li:first-child {
	font-size: 17px;
}

.user-page-banner-overlay ul li a {
	font-size: 17px;
}




}






