
.blue-blur-welcome {
  background-image: asset-url("blue-blur33.png");
  background-size: cover;
  max-width: 100% auto;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
}

.welcome-title {
  margin-top: 30px;
  text-align: center;
  font-size: 33px;
  font-weight: 300;
  color: #fff;
}

.welcome-subtitle {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 530px;
  line-height: 30px;
  font-size: 21px;
  font-weight: 300;
  color: #fff;
}



/////////////////SQUARES//////////////////


.welcome-stocks-div {
  overflow: hidden;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 530px;
  margin-bottom: 30px;
}

.blue-blur-tile {
  background: #7cb5ec;
}

.blue-blur-tile-active {
  background-color: #8EB7ED;
  border-radius: 3px;
}

.welcome-col-sq {
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 1%;
  border-radius: 3px;
  padding-bottom: 31%;
  width: 31%;
  position: relative;
  float: left;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.welcome-col-sq:hover {
  background-color: #8EB7ED;
}

#welcome-stockbox-sq {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  cursor: pointer;
}

#welcome-stockbox-sq span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 111px;
}

#welcome-stockbox-sq input {
  position: absolute;
  margin-top: -30px;
  opacity: 0;
}

.check-div {
  display: none;  
  position: absolute;
  margin-top: 20px;
  width: 100%;
}

.check-div-on {
  display: block;
  position: absolute;
  margin-top: 20px;
  width: 100%;
}

.check-div-on img {
  display: block;
  width: 21px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-next-box {
  position: fixed;
  z-index: 10;
  height: 70px;
  bottom: -90px;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  overflow: hidden;
}

.welcome-next-btn {
  margin: auto;
  max-width: 390px;
  padding-left: 14px;
  padding-right: 18px;
}

.welcome-next-btn input {
  margin-top: 15px;
  display: block;
  border: 0px;
  height: 39px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 3px;
  background-color: #7BB0E8;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.welcome-next-btn input:hover {
    background-color: #8EB7ED;
    color: #fff;
}


@media (min-width: 480px) {

#welcome-stockbox-sq span {
  line-height: 136px;
}

.welcome-next-btn {
  margin: auto;
  max-width: 460px;
  padding-left: 14px;
  padding-right: 18px;
}


}


@media (min-width: 768px) {

.check-div-on img {
  width: 33px;
}


#welcome-stockbox-sq span {
  line-height: 164px;
}

.welcome-next-btn {
  margin: auto;
  max-width: 530px;
  padding-left: 10px;
  padding-right: 10px;
}

.welcome-next-box {
  height: 90px;
}

.welcome-next-btn input {
  margin-top: 21px;
  height: 47px;
  width: 36%;
}





}




