/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Global shit ------------------------------------------*/

/*
color palette

#2a3744   STOCKHERO BLUE
#edf1f5   CANVAS BLUE
#3a4c5e   CANVAS BLUE 1
#4a6178   CANVAE BLUE 2
#5a7691   CANVAS BLUE 3
#6a8aab   CANVAS BLUE 4
#006EA4   LINK TXT
#414141   BODY TXT
#c2c2c2   35% GREY
*/


/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


body {
  background-color: #E9E9E9;
}


.clearfix {
  clear: both;
}


.constrainer {
  margin: auto;
  max-width: 390px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
}

#infinite-scrolling {
  display: none;
}

.nav-constrainer {
  margin: auto;
  max-width: 390px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
}


@media (min-width: 480px) {

.constrainer {
  margin: auto;
  max-width: 460px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-constrainer {
  margin: auto;
  max-width: 460px;
  padding-left: 10px;
  padding-right: 10px;
}

}



@media (min-width: 768px) {

.constrainer {
  margin: auto;
  max-width: 690px;
  padding-left: 10px;
  padding-right: 10px;
}


.nav-constrainer {
  margin: auto;
  max-width: 690px;
  padding-left: 10px;
  padding-right: 10px;
}

}


@media (min-width: 991px) {

.constrainer {
  margin: auto;
  max-width: 930px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-constrainer {
  margin: auto;
  max-width: 930px;
  padding-left: 10px;
  padding-right: 10px;
}

}


@media (min-width: 1050px) {

.constrainer {
  margin: auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-constrainer {
  margin: auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
}

}



