header.scss


/* Nav styles ------------------------------------*/



.nav-items {
  display: none;
}

.nav-singed-in {
  height: 49px;
  border-bottom: 1px solid rgba(0,0,0,.07);
  background-color: #fff;
}

.nav-logo {
  padding-top: 14px;
  width: 130px;
}

.nav-mobile-button {
  padding-top: 14px;
}

.nav-mobile-button-anchor i {
  font-size: 18px;
}

#nav-dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgba(0,0,0,0.9);
  overflow: hidden;
}

.nav-dropdown-item {
  display: block;
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 21px;
  color: rgba(255,255,255,.85);
  border-bottom: solid 1px rgba(255,255,255,.85);
}

.nav-dropdown-item-last {
  border-bottom: 0px;
}

.nav-dropdown-label {
  margin-left: 30px;
}

.nav-dropdown-img img {
  width: 24px;
  border-radius: 90px;
  border: solid 4px rgba(255,255,255,.85);
}


@media (min-width: 480px) {


}


@media (min-width: 768px) {


.nav-mobile-button {
  display: none;
}

.nav-items {
  display: block;
}

.nav-items-feed {
}

.nav-items-feed a {
  display: block;
  height: 49px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;

  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;

}

.nav-items-feed a:hover {
  border-bottom: 1px solid #44000b;
}


.nav-items-user {
  width: 109px;
  float: left;
  margin-left: 65px;
  margin-right: 45px;
}

.nav-items-user a {
  display: block;
  height: 49px;
  padding-left: 5px;
  padding-right: 5px;

  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;

}

.nav-items-user a:hover {
  border-bottom: 1px solid #44000b;
}

.nav-items-user img {
  float: left;
  margin-top: 15px;
  width: 21px;
  border-radius: 90px;
}

.nav-items-user p {
  float: left;
  margin-top: 15px;
  padding-left: 5px;
}

.nav-items-icons a {
  display: block;
  height: 49px;
  padding-top: 15px;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;

  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;

}

.nav-items-icons a:hover {
  border-bottom: 1px solid #44000b;
}

@media (min-width: 991px) {


}

@media (min-width: 1050px) {


}

}


