

.nav-items {
  display: none;
}

.nav-items-search {
  display: none;
}

#search-dropdown {
  display: none;
}

.nav-items-user {
  font-weight: 300;
}

.nav-items-feed {
  font-weight: 300;
}

.nav-singed-in {
  height: 49px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background-color: #fff;
}

.nav-logo {
  padding-top: 16px;
  width: 60px;
  color: #919191;
  font-weight: 300;
}

.nav-mobile-search-anchor {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: 49px;
  width: 70%;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 18px;
  color: #919191;
}

.nav-mobile-search-anchor:hover {
  color: #7cb5ec;
}

.nav-mobile-search-anchor:active {
  color: #7cb5ec;
}


.nav-mobile-button-anchor {
  display: block;
  cursor: pointer;
  height: 49px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 18px;
  color: #919191;
}

.nav-mobile-button-anchor:hover {
  color: #7cb5ec;
}

.nav-mobile-button-anchor:active {
  color: #7cb5ec;
}

#search-dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: #7cb5ec;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,.07);
}

#mobile-autocomplete input {
  background-color: transparent;
  padding-left: 0px;
  width: 100%;
  height: 60px;
  font-size: 21px;
  color: #fff;
  z-index: 10;
  border: 0px;
}

#mobile-autocomplete input:focus {
  outline: none;
}

#mobile-autocomplete input::-webkit-input-placeholder {
   color: rgba(255,255,255,.7);
}

#mobile-autocomplete input:-moz-placeholder {
   color: rgba(255,255,255,.7);
}

#mobile-autocomplete input::-moz-placeholder {  
   color: rgba(255,255,255,.7); 
}

#mobile-autocomplete input:-ms-input-placeholder {  
   color: rgba(255,255,255,.7);
}

.ui-autocomplete li {
  list-style-type: none;
}

.ui-autocomplete li a {
  display: block;
  cursor: pointer;
  color: rgba(255,255,255,.85);
  font-size: 21px;
  text-decoration: none;
  padding-left: 0px;  
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid #fff;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.ui-autocomplete li:last-child a {
  border-bottom: 0px;
}

.ui-autocomplete li a:hover {
  color: #fff;
}




#nav-dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: #7cb5ec;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,.07);
}

.nav-dropdown-item {
  display: block;
  font-size: 18px;
  font-weight: 300;
  padding-top: 24px;
  padding-bottom: 21px;
  cursor: pointer;
  color: rgba(255,255,255,.90);
  border-bottom: solid 1px rgba(255,255,255,.85);
}

.nav-dropdown-item:hover {
  color: rgba(255,255,255,1);
}

.nav-dropdown-item-last {
  border-bottom: 0px;
}

.nav-dropdown-label {
  margin-left: 30px;
}

.nav-dropdown-img img {
  width: 24px;
  border-radius: 90px;
  border: solid 2px rgba(255,255,255,.85);
}



@media (min-width: 768px) {


.nav-mobile-button {
  display: none;
}

#nav-dropdown {
  display: none;
}

.nav-mobile-search-anchor {
  display: none;
}

.nav-dropdown {
  display: none;
}

.nav-items {
  display: block;
}

.nav-items-search {
  display: block;
  margin-left: 118px;
}


.nav-items-search input {
  border: 0px;
  background-color: rgba(124,181,236,.09);
  box-shadow: 0 0 0 1pt rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-top: 12px;
  padding-left: 10px;
  width: 160px;
  height: 27px;
  font-size: 13px;
  color: #919191;
}

.nav-items-search input:focus {
  outline: none;
  box-shadow: 0 0 0 1pt #7cb5ec;
}

.ui-autocomplete {
  background-color: #fff;
  width: 330px;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

.ui-autocomplete li {
  list-style-type: none;
}

.ui-autocomplete li a {
  display: block;
  cursor: pointer;
  color: #808080;
  font-size: 13px;
  text-decoration: none;
  padding-left: 10px;  
  padding-top: 15px;
  padding-bottom: 15px;
}

.ui-autocomplete li a:hover {
  background-color: rgba(124,181,236,.07);
  color: #7cb5ec;
}

.nav-items-feed a {
  display: block;
  height: 49px;
  font-size: 13px;
  color: #919191;
  text-decoration: none;
  font-weight: 300;
  padding-top: 18px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;

  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.nav-items-feed a:hover {
  color: #7cb5ec;
  border-bottom: 1px solid #7cb5ec;
}


.nav-items-logout a {
  display: block;
  height: 49px;
  font-size: 13px;
  color: #919191;
  text-decoration: none;
  font-weight: 300;
  padding-top: 18px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 60px;

  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.nav-items-logout a:hover {
  color: #7cb5ec;
  border-bottom: 1px solid #7cb5ec;
}



.nav-items-user {
  width: 109px;
  float: left;
  margin-left: 40px;
  margin-right: 0px;
}

.nav-items-user a {
  display: block;
  font-size: 13px;
  color: #919191;
  height: 49px;
  width: 60px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;

  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.nav-items-user a:hover {
  color: #7cb5ec;
  border-bottom: 1px solid #7cb5ec;
}

.nav-items-user img {
  float: left;
  margin-top: 15px;
  width: 21px;
  border-radius: 90px;
}

.nav-items-user p {
  float: left;
  margin-top: 18px;
  padding-left: 5px;
}

.nav-items-icons a {
  display: block;
  cursor: pointer;
  height: 49px;
  font-size: 13px;
  color: #919191;
  padding-top: 18px;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 5px;

  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;

}

.nav-items-icons a:hover {
  border-bottom: 1px solid #7cb5ec;
  color: #7cb5ec;
}

}



@media (min-width: 981px) {




}