// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Login styles --------------------------------*/


.logo-and-tabs {
  display: block;
  height: 36px;
  margin-top: 36px;
}

.login-logo {
  float: left;
  width: 25%;
}

.login-logo img {
  margin-top: 12px;
  width: 190px;
}

#create-account {
  float: right;
  width: 18%;
  margin-top: 12px;
  font-size: .9em
}

#login {
  float: right;
  width: 9%;
  margin-top: 12px;
  padding-left: .6em;
  text-align: right;
  border-left: 1px solid #2a3744;
  font-size: .9em;
}

.login-main {
  width: 690px;
  margin-left: auto;
  margin-right: auto;
}

.formbox {
  margin-top: 10px;
  padding: 43px 35px 50px 50px;
  padding-top: 30px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  clear: both;
  border-radius: 4px;
}

.formbox h1 {
  font-size: 1.3em;
  font-family: Helvetica Neue;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}

.formbox h2 {
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 18px;
}

.field {
  margin-top: 5px;
  padding: 3px 12px;
  background: #edf1f5;
  border: 0px solid #dbdbdb;
  width: 260px;
  height: 39px;
  border-radius: 3px 3px 3px 3px;
}

#login_form input[type="text"] {
  display: block;
  font-weight: normal;
  font-size: 12px;
  color: #c2c2c2;
  box-shadow: none;
}

#login_form input[type="text"]:focus {
  outline: none;
}

#login_form input[type="password"] {
  display: block;
  font-weight: normal;
  font-size: 12px;
  color: #c2c2c2;
  box-shadow: none;
}

#login_form input[type="login-password"]:focus {
  outline: none;
}

.login-btn {
  margin-top: 30px;
  text-align: center;
  width: 130px;
  height: 39px;
  padding: 4px 14px;
  color: #FFF;
  background-color: #3a4c5e;
  font-family: helvetica neue;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;

  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}

.login-btn:hover {
  color: #FFF;
  background-color: #2a3744;
  text-decoration: none;
}

#formbox-login-tips {
  width: 190px;
  height: 160px;
  position: absolute;
  color: #8B8078;
  margin-top: -260px;
  margin-left: 412px;
  padding-left: 1em;
  text-align: left;
  border-left: 1px solid #c2c2c2;
}

#signup-formbox-login-tips {
  width: 175px;
  height: 130px;
  position: absolute;
  color: #666666;
  font-size: .8em;
  line-height: 1.4em;
  margin-top: -569px;
  margin-left: 418px;
  padding-left: 1em;
  text-align: left;
  border-left: 1px solid #c2c2c2;
}

#signup-formbox-login-tips ul {
  font-size: .9em;
  padding-left: 1.2em;
  margin-top: 5px;
  line-height: 1.8em;
    color: #666666;
}

#formbox-login-tips .pwd {
  margin-top: 18px;
}

#formbox-login-tips a {
  font-size: .75em;
  color: #006EA4;
}

footer {
  clear: both;
}

footer p {
  text-align: center;
  font-size: .8em;
  color: #c2c2c2;
  margin-top: 10px;
  margin-bottom: 20px;
}