// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* STOCKIQ USERPAGE STYLES ------------------------------------------------*/

.user-page-body {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
}

.user-sidebar-image-username {
  color: #E6E6E6;
  font-size: 11px;
}

.user-sidebar-image-points {
  color: #E6E6E6;
  font-size: 11px;
}

.user-sidebar-bio {
  border: 1px solid rgba(0,0,0,.07);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 11px;
}


@media (min-width: 768px) {

.user-page-body {
  padding-right: 10px;
}

.user-page-sidebar {
  display: block;
  margin-top: -90px;
  height: 500px;
  padding-left: 0px;
  padding-right: 0px;
}

}





/* STOCKIQ SIGNUP PAGE STYLES */


body {
  background-color: #FAFAFA;
}

.signup-nav {
  height: 49px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.07);
}

.signup-nav-logo {
  padding-top: 15px;
  width: 130px;
  color: #808080;
}

.signup-nav-link p {
  display: block;
  color: #63010d;
  font-size: 11px;
  height: 49px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #63010d;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}


.signup-title {
  margin-top: 30px;
  text-align: center;
  font-size: 33px;
  font-weight: 300;
  color: #808080;
}

.signup-subtitle {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #808080;
}

.signup-form-div {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  max-width: 440px;
}


.signup-form-header {
  height: 39px;
  color: #E6E6E6;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
}

.signup-form-header-txt {
  text-align: center;

}

.signup-form-box {
  border: 1px solid rgba(0,0,0,0.07);
  background-color: #fff;  
  font-size: 11px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.signup-signin-link {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #808080;
  font-size: 12px;
}

.signup-signin-link a {
  color: #63010d;
  margin-left: 5px;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.signup-signin-link a:hover {
  color: #4b0009;
}


.signup-form-fields input {
  width: 100%;
  height: 39px;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: #FAFAFA;
  border: 0px;
  outline: none;
  color: #808080;
}

.signup-form-fields input:focus {
  outline: 1px solid rgba(0,0,0,0.07);
}



.signup-privacy {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #808080;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .04em;
  line-height: 18px;
}

.signup-privacy a {
  color: #63010d;
  text-decoration: none;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.signup-privacy a:hover {
  color: #4b0009;
  border-bottom: 1px solid #63010d;
}




.signup-submit-button-div input {
  border: solid 1px #B3B3B3;
  border-radius: 0px;
  padding-bottom: 12px;
  padding-top: 12px;
  color: #B3B3B3;
  font-size: 15px;
  width: 100%;
  background-color: #FFF;

  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.signup-submit-button-div input:hover {
  border: solid 1px #808080;
  color: #808080;
}


@media (min-width: 991px) {



}

@media (min-width: 1050px) {



}









