// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* STOCKIQ USERPAGE STYLES ------------------------------------------------*/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6;
  }
}

.user-page-sidebar {
  display: none;
}

.user-page-body {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
}

.user-sidebar-image-username {
  color: #E6E6E6;
}

.user-sidebar-image-points {
  color: #E6E6E6;
}


@media (min-width: 768px) {

.user-page-body {
  padding-right: 20px;
}

.user-page-sidebar {
  display: block;
  margin-top: -96px;
  height: 500px;
  padding-left: 0px;
  padding-right: 0px;
}

}




@media (min-width: 991px) {

.user-page-sidebar {
  margin-top: -118px;
}

}

@media (min-width: 1050px) {



}









