
<body>

<section class="nav-singed-in">
  <div class="nav-constrainer">
    <div class="nav-logo pull-left">
      StockIQ
    </div>
    <div class="nav-mobile-button pull-right">
      <a class="nav-mobile-button-anchor" id="drop-nav-expand">
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
    <div class="nav-items">
      <div class="nav-items-icons pull-right">
        <a class="nav-settings pull-right">
          <i class="fa fa-cog"></i>
        </a>
        <a class="nav-heart pull-right">
          <i class="fa fa-heart"></i>
        </a>
        <a class="nav-search pull-right">
          <i class="fa fa-search"></i>
        </a>
        <a class="nav-predict pull-right">
          <i class="fa fa-line-chart"></i>
        </a>
      </div>
      <div class="nav-items-user pull-right">
        <a href="#">
          <img src="img/del.jpg">
          <p>delmnstr6</p>
        </a>
      </div>
      <div class="nav-items-feed pull-right">
        <a href="#">Feed</a>
      </div>
    </div>
  </div>
</section>

<section id="nav-dropdown">
  <div class="constrainer">
    <a href = "/feed/" class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-list"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>My Feed</a></p>
      </div>
    </a>
    <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-img pull-left">
        <img src="img/del.jpg">
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>delmnstr12</p>
      </div>
    </a>
    <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-line-chart"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Predict</p>
      </div>
    </a>
    <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-search"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Search</p>
      </div>
    </a>
    <a class="nav-dropdown-item clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-heart"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Favorites</p>
      </div>
    </a>
    <a class="nav-dropdown-item nav-dropdown-item-last clearfix">
      <div class="nav-dropdown-icon pull-left">
        <i class="fa fa-cog"></i>
      </div>
      <div class="nav-dropdown-label pull-left">
        <p>Settings</p>
      </div>
    </a>
  </div>
</section>







